body {
    font-family: "Roboto";
    background-color: #5c4b51;
    color: #f2ebbf;
}

h1 {
    color: #f06060;
}

h2 {
    color: #f3b562;
}

h4 {
    color: #8cbeb2;
    margin-bottom: 0.5px;
}

p {
    margin-bottom: 13px;
    text-align: justify;
}
